In [2]:
import pandas as pd

# Assignment on orders.txt dataset

df = pd.read_csv('D:\\orders.txt')
df

In [73]:
df[['category','city']].value_counts()

category         city
Office Supplies  New York City       257
                 Los Angeles         210
Furniture        New York City       157
Office Supplies  Philadelphia        152
                 San Francisco       149
                                    ...
                 North Charleston      1
                 Norfolk               1
                 Noblesville           1
                 Niagara Falls         1
                 Farmington            1
Name: count, Length: 987, dtype: int64

In [74]:
df.sort_values(by=['order_id','product_id'], ascending=[False,True])

,order_id,order_date,customer_name,city,category,product_id,sales,profit
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696
...,...,...,...,...,...,...,...,...
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113

In [76]:
df[['order_id','product_id']].value_counts()

order_id        product_id
CA-2018-100006  TEC-PH-10002075    1
CA-2021-126550  OFF-ST-10001031    1
CA-2021-126865  OFF-PA-10003039    1
CA-2021-126788  TEC-PH-10001619    1
CA-2021-126774  OFF-AR-10002804    1
                                  ..
CA-2019-167269  OFF-EN-10003072    1
CA-2019-167255  OFF-PA-10002377    1
CA-2019-167010  FUR-BO-10004218    1
CA-2019-166975  FUR-FU-10003930    1
US-2021-169551  FUR-BO-10001519    1
Name: count, Length: 5009, dtype: int64

In [95]:
#Assignment on orders.txt data set

#1- create a new column in the orders dataframe with name profit_flag. Set its value as 1 if profit is greater than 0 else set 0.
def flag(val):
    if val>0:
        return 1
    else:
        0

In [96]:
df['profit_falg']=df['profit'].apply(flag)
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN

In [97]:
#in the orders data frame rename column names to upper case ..eg order_id should be ORDER_ID
df.columns=df.columns.str.upper()
df

,ORDER_ID,ORDER_DATE,CUSTOMER_NAME,CITY,CATEGORY,PRODUCT_ID,SALES,PROFIT,PROFIT_FALG
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN

In [98]:
#3- again change the column names back to lower case
df.columns=df.columns.str.lower()
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN

In [100]:
#sort the dataframe column by profit in descending order
df_new = df.sort_values(by='profit', ascending=False)
df_new

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg
4126,CA-2021-166709,2021-11-17,Hunter Lopez,Newark,Technology,TEC-CO-10004722,10499.970,5039.9856,1.0
1968,CA-2020-117121,2020-12-17,Adrian Barton,Detroit,Office Supplies,OFF-BI-10000545,9892.740,4946.3700,1.0
547,CA-2018-145541,2018-12-14,Tom Boeckenhauer,New York City,Technology,TEC-MA-10001127,6999.960,2239.9872,1.0
3521,CA-2021-135909,2021-10-13,Jane Waco,Sacramento,Office Supplies,OFF-BI-10003527,5083.960,1906.4850,1.0
4730,US-2021-102183,2021-08-21,Pete Kriz,New York City,Office Supplies,OFF-BI-10001359,4305.552,1453.1238,1.0
...,...,...,...,...,...,...,...,...,...
1329,CA-2019-140025,2019-04-07,Peter Fuller,San Antonio,Office Supplies,OFF-AP-10002651,463.248,-1181.2824,NaN
4821,US-2021-120390,2021-10-19,Tracy Hopkins,Burlington,Office Supplies,OFF-BI-10004995,1633.188,-1306.5504,NaN
4458,US-2019-150630,2019-09-17,Tracy Blumstein,Philadelphia,Furniture,FUR-BO-10004834,3083.430,-1665.0522,NaN
1020,CA-2019-116638,2019-01-28,Joseph Holt,Concord,Furniture,FUR-TA-10000198,4297.644,-1862.3124,NaN
4829,US-2021-122714,2021-12-07,Henry Goldwyn,Chicago,Office Supplies,OFF-BI-10001120,1889.990,-2929.4845,NaN

In [103]:
#sort the dataframe column by sales in ascending order , in case of a tie it should be sorted by profit in descending order
df_sales_profit = df.sort_values(by = ['sales','profit'], ascending=[True,False])
df_sales_profit

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg
4731,US-2021-102288,2021-06-19,Zuschuss Carroll,Houston,Office Supplies,OFF-AP-10002906,0.444,-1.1100,NaN
3293,CA-2021-124114,2021-03-02,Roland Schwarz,Waco,Office Supplies,OFF-BI-10004022,0.556,-0.9452,NaN
2771,CA-2020-168361,2020-06-21,Ken Brennan,Chicago,Office Supplies,OFF-BI-10003727,0.836,-1.3376,NaN
162,CA-2018-112403,2018-03-31,Jas O'Carroll,Philadelphia,Office Supplies,OFF-BI-10003529,0.852,-0.5964,NaN
4315,US-2018-152723,2018-09-26,Henry Goldwyn,Mesquite,Office Supplies,OFF-BI-10003460,0.876,-1.4016,NaN
...,...,...,...,...,...,...,...,...,...
540,CA-2018-144624,2018-11-19,John Murray,Jamestown,Technology,TEC-PH-10002885,4548.810,1228.1787,1.0
3521,CA-2021-135909,2021-10-13,Jane Waco,Sacramento,Office Supplies,OFF-BI-10003527,5083.960,1906.4850,1.0
547,CA-2018-145541,2018-12-14,Tom Boeckenhauer,New York City,Technology,TEC-MA-10001127,6999.960,2239.9872,1.0
1968,CA-2020-117121,2020-12-17,Adrian Barton,Detroit,Office Supplies,OFF-BI-10000545,9892.740,4946.3700,1.0
4126,CA-2021-166709,2021-11-17,Hunter Lopez,Newark,Technology,TEC-CO-10004722,10499.970,5039.9856,1.0

In [104]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0
...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN

In [105]:
# create a column as profit_category . sets it value as below:

def category(val):
    if val<0:
        return 'loss'
    elif val>=0 and val<=100:
        return 'low profit'
    elif val>100 and val<=500:
        return 'medium profit'
    else:
        return 'high profit'

In [106]:
df['profit_category'] = df['profit'].apply(category)
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0,medium profit
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN,loss
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0,low profit
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0,low profit
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0,low profit
...,...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0,low profit
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0,low profit
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0,low profit
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0,low profit
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN,loss

In [110]:
fc = (df['profit_category']=='loss')
df[fc].sort_values(by = 'profit')

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category
4829,US-2021-122714,2021-12-07,Henry Goldwyn,Chicago,Office Supplies,OFF-BI-10001120,1889.990,-2929.4845,NaN,loss
1020,CA-2019-116638,2019-01-28,Joseph Holt,Concord,Furniture,FUR-TA-10000198,4297.644,-1862.3124,NaN,loss
4458,US-2019-150630,2019-09-17,Tracy Blumstein,Philadelphia,Furniture,FUR-BO-10004834,3083.430,-1665.0522,NaN,loss
4821,US-2021-120390,2021-10-19,Tracy Hopkins,Burlington,Office Supplies,OFF-BI-10004995,1633.188,-1306.5504,NaN,loss
1329,CA-2019-140025,2019-04-07,Peter Fuller,San Antonio,Office Supplies,OFF-AP-10002651,463.248,-1181.2824,NaN,loss
...,...,...,...,...,...,...,...,...,...,...
2249,CA-2020-135594,2020-06-30,Adrian Hane,Aurora,Technology,TEC-AC-10003038,50.120,-0.6265,NaN,loss
3929,CA-2021-156720,2021-12-30,Jill Matthias,Loveland,Office Supplies,OFF-FA-10003472,3.024,-0.6048,NaN,loss
162,CA-2018-112403,2018-03-31,Jas O'Carroll,Philadelphia,Office Supplies,OFF-BI-10003529,0.852,-0.5964,NaN,loss
4898,US-2021-139955,2021-09-28,Charles McCrossin,Brownsville,Office Supplies,OFF-SU-10001935,1.744,-0.3488,NaN,loss
3214,CA-2021-121125,2021-05-30,Michael Granlund,Tigard,Furniture,FUR-FU-10000820,13.592,-0.3398,NaN,loss

In [111]:
# create a new column sales_profit_ratio and set its value as (profit/sales)*100
df['sales_profit_ratio'] = (df['profit']/df['sales'])*100
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category,sales_profit_ratio
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0,medium profit,29.00
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN,loss,-17.50
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0,low profit,35.00
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0,low profit,33.75
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0,low profit,35.00
...,...,...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0,low profit,32.50
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0,low profit,47.00
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0,low profit,47.00
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0,low profit,29.00
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN,loss,-52.00

In [116]:
# find all the orders where customer name starts with 'D' and ends with 'e'
fc = df['customer_name'].str.startswith('D') & df['customer_name'].str.endswith('e')
df[fc]

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category,sales_profit_ratio
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0,medium profit,29.000000
94,CA-2018-107139,2018-07-05,Dennis Pardue,Los Angeles,Office Supplies,OFF-BI-10001670,180.960,67.8600,1.0,low profit,37.500000
159,CA-2018-112158,2018-12-02,David Philippe,New York City,Furniture,FUR-BO-10003272,883.920,-110.4900,NaN,loss,-12.500000
169,CA-2018-113271,2018-07-09,Darrin Sayre,San Francisco,Furniture,FUR-BO-10004218,119.833,7.0490,1.0,low profit,5.882353
244,CA-2018-120432,2018-08-24,Dorothy Wardle,Owensboro,Office Supplies,OFF-SU-10004661,25.500,6.6300,1.0,low profit,26.000000
415,CA-2018-133424,2018-03-30,Dorris liebe,Seattle,Office Supplies,OFF-LA-10002312,44.400,22.2000,1.0,low profit,50.000000
433,CA-2018-134621,2018-12-21,Dennis Pardue,Columbia,Office Supplies,OFF-BI-10000977,18.240,-14.5920,NaN,loss,-80.000000
626,CA-2018-153150,2018-07-01,Dorris liebe,Seattle,Office Supplies,OFF-BI-10003355,19.920,6.9720,1.0,low profit,35.000000
790,CA-2018-168592,2018-09-08,Dennis Pardue,San Francisco,Office Supplies,OFF-AP-10004785,56.650,24.3595,1.0,low profit,43.000000
974,CA-2019-112522,2019-10-10,David Philippe,Chicago,Office Supplies,OFF-AR-10003183,8.016,1.0020,1.0,low profit,12.500000
1035,CA-2019-118423,2019-03-24,Dennis Pardue,Peoria,Furniture,FUR-BO-10000362,359.058,-35.9058,NaN,loss,-10.000000
1175,CA-2019-129217,2019-05-10,Dennis Pardue,Aurora,Office Supplies,OFF-AP-10002439,70.970,-191.6190,NaN,loss,-270.000000
1219,CA-2019-131884,2019-12-06,Dennis Kane,Marion,Furniture,FUR-CH-10004860,70.686,-24.2352,NaN,loss,-34.285714
1398,CA-2019-145065,2019-12-12,Dennis Kane,San Diego,Office Supplies,OFF-BI-10002437,24.448,8.8624,1.0,low profit,36.250000
1621,CA-2019-162950,2019-06-28,Dorothy Wardle,Troy,Furniture,FUR-BO-10001918,482.940,-376.6932,NaN,loss,-78.000000
2021,CA-2020-120530,2020-04-07,Dorris liebe,New York City,Furniture,FUR-CH-10000454,658.746,146.3880,1.0,medium profit,22.222222
2292,CA-2020-138478,2020-10-21,Dennis Pardue,North Las Vegas,Office Supplies,OFF-AR-10002240,113.220,29.4372,1.0,low profit,26.000000
2294,CA-2020-138583,2020-05-24,Dennis Pardue,Philadelphia,Office Supplies,OFF-AR-10001860,16.656,3.3312,1.0,low profit,20.000000
2447,CA-2020-148516,2020-08-07,Dorothy Wardle,Edmonds,Technology,TEC-AC-10003610,179.970,86.3856,1.0,low profit,48.000000
2735,CA-2020-165820,2020-09-26,Dorothy Wardle,San Francisco,Office Supplies,OFF-PA-10004735,12.960,6.2208,1.0,low profit,48.000000
3089,CA-2021-114552,2021-09-02,Dorris liebe,Cleveland,Furniture,FUR-FU-10002960,15.072,4.1448,1.0,low profit,27.500000
3278,CA-2021-123134,2021-05-02,Dorothy Wardle,Westfield,Furniture,FUR-FU-10003975,129.930,12.9930,1.0,low profit,10.000000
3441,CA-2021-131954,2021-01-21,Darrin Sayre,Seattle,Furniture,FUR-BO-10001619,84.980,18.6956,1.0,low profit,22.000000
3465,CA-2021-133046,2021-07-27,Dennis Kane,Seattle,Furniture,FUR-FU-10001940,23.880,10.5072,1.0,low profit,44.000000
3701,CA-2021-144848,2021-04-04,Darrin Sayre,New York City,Office Supplies,OFF-SU-10000646,240.370,7.2111,1.0,low profit,3.000000
3818,CA-2021-150931,2021-01-06,Dennis Pardue,Tuscaloosa,Office Supplies,OFF-BI-10004728,33.740,15.5204,1.0,low profit,46.000000
3887,CA-2021-154466,2021-01-01,Dennis Pardue,Franklin,Office Supplies,OFF-BI-10002012,3.600,1.7280,1.0,low profit,48.000000
4102,CA-2021-165099,2021-12-11,Dennis Kane,Abilene,Office Supplies,OFF-AP-10001634,1.392,-3.7584,NaN,loss,-270.000000
4127,CA-2021-166835,2021-11-12,Dennis Kane,Lancaster,Office Supplies,OFF-ST-10002574,221.024,-55.2560,NaN,loss,-25.000000
4535,US-2020-111290,2020-07-22,Dennis Kane,Westland,Office Supplies,OFF-AR-10001761,29.200,10.5120,1.0,low profit,36.000000
4616,US-2020-139087,2020-07-17,Dennis Kane,Seattle,Furniture,FUR-FU-10001847,12.420,4.4712,1.0,low profit,36.000000
4842,US-2021-125717,2021-09-28,Darrin Sayre,Aurora,Furniture,FUR-FU-10001979,32.776,3.2776,1.0,low profit,10.000000
4845,US-2021-126060,2021-04-14,Dorothy Wardle,Fayetteville,Furniture,FUR-BO-10003433,198.272,-32.2192,NaN,loss,-16.250000
4954,US-2021-155299,2021-06-08,Dorris liebe,Pasadena,Office Supplies,OFF-AP-10002203,1.624,-4.4660,NaN,loss,-275.000000
4986,US-2021-164147,2021-02-02,Dorothy Wardle,Columbus,Office Supplies,OFF-FA-10002780,21.456,6.9732,1.0,low profit,32.500000

In [118]:
#delete column sales_profit_ratio from the dataframe
df.drop(columns = 'sales_profit_ratio',inplace = True)

In [119]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0,medium profit
1,CA-2018-100090,2018-07-08,Ed Braxton,San Francisco,Furniture,FUR-TA-10003715,502.488,-87.9354,NaN,loss
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0,low profit
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0,low profit
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0,low profit
...,...,...,...,...,...,...,...,...,...,...
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0,low profit
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0,low profit
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0,low profit
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0,low profit
5008,US-2021-169551,2021-07-07,Rob Lucas,Philadelphia,Furniture,FUR-BO-10001519,87.210,-45.3492,NaN,loss

In [121]:
#delete all the rows where profit is negative
fc = (df['profit']<0)
df.drop(df[fc].index,inplace = True)

In [124]:
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0,medium profit
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0,low profit
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0,low profit
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0,low profit
5,CA-2018-100391,2018-05-25,Barry Weirich,New York City,Office Supplies,OFF-PA-10001471,14.620,6.7252,1.0,low profit
...,...,...,...,...,...,...,...,...,...,...
5002,US-2021-168613,2021-10-08,Gary McGarr,New York City,Furniture,FUR-CH-10002372,145.764,3.2392,1.0,low profit
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0,low profit
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0,low profit
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0,low profit
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0,low profit

In [129]:
#create a new column order_year and populate it with year of order_date.
df['order_year']=df['order_date'].str.slice(0,4)
df

,order_id,order_date,customer_name,city,category,product_id,sales,profit,profit_falg,profit_category,order_year
0,CA-2018-100006,2018-09-07,Dennis Kane,New York City,Technology,TEC-PH-10002075,377.970,109.6113,1.0,medium profit,2018
2,CA-2018-100293,2018-03-14,Neil Französisch,Jacksonville,Office Supplies,OFF-PA-10000176,91.056,31.8696,1.0,low profit,2018
3,CA-2018-100328,2018-01-28,Jasper Cacioppo,New York City,Office Supplies,OFF-BI-10000343,3.928,1.3257,1.0,low profit,2018
4,CA-2018-100363,2018-04-08,Jim Mitchum,Glendale,Office Supplies,OFF-FA-10000611,2.368,0.8288,1.0,low profit,2018
5,CA-2018-100391,2018-05-25,Barry Weirich,New York City,Office Supplies,OFF-PA-10001471,14.620,6.7252,1.0,low profit,2018
...,...,...,...,...,...,...,...,...,...,...,...
5002,US-2021-168613,2021-10-08,Gary McGarr,New York City,Furniture,FUR-CH-10002372,145.764,3.2392,1.0,low profit,2021
5004,US-2021-168802,2021-11-03,Jack O'Briant,Seattle,Office Supplies,OFF-BI-10002393,18.368,5.9696,1.0,low profit,2021
5005,US-2021-169320,2021-07-23,Lena Hernandez,Elkhart,Office Supplies,OFF-AR-10003602,11.680,5.4896,1.0,low profit,2021
5006,US-2021-169488,2021-09-07,Allen Armold,Providence,Office Supplies,OFF-PA-10000157,39.960,18.7812,1.0,low profit,2021
5007,US-2021-169502,2021-08-28,Matthew Grinstein,Milwaukee,Office Supplies,OFF-AP-10001947,91.600,26.5640,1.0,low profit,2021